@charset "UTF-8";
/*样式*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'SFNSText', 'Helvetica Neue', 'Microsoft Yahei', 'SimHei', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: #fff;
  color: #383838;
  font-family: "微软雅黑";
  font-size: 16px;
}

/*页头*/
#iCloud {
  width: 100px;
  height: 100px;
  background: red;
  background: green;
  margin: 10px;
}
