/*样式*/
* {
    margin: 0;
    padding: 0; //  position:relative;
    list-style: none;
    box-sizing: border-box;
}
@mixin float {
    content: "";
    display: block;
    clear: both;
}
a {
    text-decoration: none;
}
body {
    background: #fff;
    color: #383838;
    font-family: "微软雅黑";
    font-size: 16px;
}
@mixin whb($width, $height, $background) {
    width: $width;
    height: $height;
    background: $background;
}
@mixin center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#wzq {
    @include center;
    @include whb(100%,636px,url("../images/bg_01.png"));
    background-size: 1356px 636px;
    background-repeat: no-repeat;
}