/*样式*/
@import "main";
@mixin float {
    content: "";
    display: block;
    clear: both;
}
@mixin whb($width, $height, $background) {
    width: $width;
    height: $height;
    background: $background;
}
@mixin center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
/*页头*/
#iCloud{
    @include whb(100px,100px,red);
}
